In [30]:
import pandas as pd

In [31]:
df = pd.read_csv(r"C:/Users/noahs\Documents/Compting/NBA_STATS/jupyter/seasons_stats.csv", encoding="latin1")
df

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,FG,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,0,1950,Curly Armstrong,G-F,31.0,FTW,63,NaN,NaN,144,...,NaN,NaN,-0.1,3.6,3.5,NaN,NaN,NaN,NaN,NaN
1,1,1950,Cliff Barker,SG,29.0,INO,49,NaN,NaN,102,...,NaN,NaN,1.6,0.6,2.2,NaN,NaN,NaN,NaN,NaN
2,2,1950,Leo Barnhorst,SF,25.0,CHS,67,NaN,NaN,174,...,NaN,NaN,0.9,2.8,3.6,NaN,NaN,NaN,NaN,NaN
3,3,1950,Ed Bartels,F,24.0,TOT,15,NaN,NaN,22,...,NaN,NaN,-0.5,-0.1,-0.6,NaN,NaN,NaN,NaN,NaN
4,4,1950,Ed Bartels,F,24.0,DNN,13,NaN,NaN,21,...,NaN,NaN,-0.5,-0.1,-0.6,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28052,28123,2022,Delon Wright,PG,28.0,SAC,27,8.0,696.0,104,...,12.7,17.1,0.8,0.5,1.3,0.092,0.5,0.6,1.2,0.6
28053,28124,2022,Thaddeus Young,PF,32.0,CHI,68,23.0,1652.0,370,...,16.1,22.3,2.8,2.2,5.1,0.147,1.9,1.4,3.3,2.2
28054,28125,2022,Trae Young,PG,22.0,ATL,63,63.0,2125.0,487,...,16.2,33.0,5.9,1.3,7.2,0.163,5.3,-1.7,3.7,3.0
28055,28126,2022,Cody Zeller,C,28.0,CHO,48,21.0,1005.0,181,...,11.9,18.3,2.1,1.1,3.3,0.156,-0.2,-0.2,-0.5,0.4
28056,28127,2022,Ivica Zubac,C,23.0,LAC,72,33.0,1609.0,257,...,14.7,15.1,4.8,2.1,6.9,0.206,0.6,0.4,1.0,1.2

In [32]:
df = df.drop_duplicates()
df = df.drop_duplicates(subset=['Player'])
df

,Unnamed: 0,Year,Player,Pos,Age,Tm,G,GS,MP,FG,...,TOV%,USG%,OWS,DWS,WS,WS/48,OBPM,DBPM,BPM,VORP
0,0,1950,Curly Armstrong,G-F,31.0,FTW,63,NaN,NaN,144,...,NaN,NaN,-0.1,3.6,3.5,NaN,NaN,NaN,NaN,NaN
1,1,1950,Cliff Barker,SG,29.0,INO,49,NaN,NaN,102,...,NaN,NaN,1.6,0.6,2.2,NaN,NaN,NaN,NaN,NaN
2,2,1950,Leo Barnhorst,SF,25.0,CHS,67,NaN,NaN,174,...,NaN,NaN,0.9,2.8,3.6,NaN,NaN,NaN,NaN,NaN
3,3,1950,Ed Bartels,F,24.0,TOT,15,NaN,NaN,22,...,NaN,NaN,-0.5,-0.1,-0.6,NaN,NaN,NaN,NaN,NaN
6,6,1950,Ralph Beard,G,22.0,INO,60,NaN,NaN,340,...,NaN,NaN,3.6,1.2,4.8,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27934,28005,2022,Dennis SchrÃ¶der,SG,27.0,LAL,61,61.0,1956.0,332,...,15.8,22.9,1.0,2.7,3.8,0.093,-1.3,0.1,-1.2,0.4
27947,28018,2022,Alen Smailagi?,PF,20.0,GSW,15,1.0,84.0,11,...,14.4,17.6,-0.1,0.1,0.0,0.015,-4.9,-0.4,-5.3,-0.1
27999,28070,2022,Jonas Valan?i?nas,C,28.0,MEM,62,61.0,1755.0,440,...,10.7,22.4,5.1,2.6,7.8,0.213,3.2,-0.3,3.0,2.2
28003,28074,2022,Anderson VarejÃ£o,C,38.0,CLE,5,0.0,36.0,4,...,4.8,25.4,-0.1,0.0,0.0,-0.029,-3.7,-3.3,-7.1,0.0
28007,28078,2022,Nikola Vu?evi?,C,30.0,TOT,70,70.0,2348.0,666,...,7.9,29.3,3.3,3.0,6.3,0.129,4.9,0.4,5.3,4.4

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4426 entries, 0 to 28007
Data columns (total 51 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4426 non-null   int64
 1   Year        4426 non-null   int64
 2   Player      4426 non-null   object
 3   Pos         4426 non-null   object
 4   Age         4421 non-null   float64
 5   Tm          4426 non-null   object
 6   G           4426 non-null   int64
 7   GS          2963 non-null   float64
 8   MP          4172 non-null   float64
 9   FG          4426 non-null   int64
 10  FGA         4426 non-null   int64
 11  FG%         4399 non-null   float64
 12  3P          3088 non-null   float64
 13  3PA         3088 non-null   float64
 14  3P%         2433 non-null   float64
 15  2P          4426 non-null   int64
 16  2PA         4426 non-null   int64
 17  2P%         4382 non-null   float64
 18  eFG%        4399 non-null   float64
 19  FT          4426 non-null   int64
 20  FTA         4426 non-null   int64
 21  FT%         4152 non-null   float64
 22  ORB         3450 non-null   float64
 23  DRB         3450 non-null   float64
 24  TRB         4203 non-null   float64
 25  AST         4426 non-null   int64
 26  STL         3450 non-null   float64
 27  BLK         3450 non-null   float64
 28  TOV         3197 non-null   float64
 29  PF          4426 non-null   int64
 30  PTS         4426 non-null   int64
 31  PER         4166 non-null   float64
 32  TS%         4402 non-null   float64
 33  3PAr        3064 non-null   float64
 34  FTr         4399 non-null   float64
 35  ORB%        3448 non-null   float64
 36  DRB%        3448 non-null   float64
 37  TRB%        3603 non-null   float64
 38  AST%        3802 non-null   float64
 39  STL%        3448 non-null   float64
 40  BLK%        3448 non-null   float64
 41  TOV%        3178 non-null   float64
 42  USG%        3195 non-null   float64
 43  OWS         4420 non-null   float64
 44  DWS         4420 non-null   float64
 45  WS          4420 non-null   float64
 46  WS/48       4166 non-null   float64
 47  OBPM        3450 non-null   float64
 48  DBPM        3450 non-null   float64
 49  BPM         3450 non-null   float64
 50  VORP        3450 non-null   float64
dtypes: float64(36), int64(12), object(3)
memory usage: 1.8+ MB

In [34]:
df['PPG'] = df['PTS'] / df['G']
df['RPG'] = df['TRB'] / df['G']
df['APG'] = df['AST'] / df['G']
df['SPG'] = df['STL'] / df['G']
df['BPG'] = df['BLK'] / df['G']
df['FTAPG'] = df['FTA'] / df['G']
averages_df = df[['Player', 'Year', 'PPG', 'APG', 'RPG', 'SPG', 'BPG', 'FG%', 'eFG%', '2P%', '3P%', 'FT%']].copy()

In [35]:
averages_df

,Player,Year,PPG,APG,RPG,SPG,BPG,FG%,eFG%,2P%,3P%,FT%
0,Curly Armstrong,1950,7.269841,2.793651,NaN,NaN,NaN,0.279,0.279,0.279,NaN,0.705
1,Cliff Barker,1950,5.693878,2.224490,NaN,NaN,NaN,0.372,0.372,0.372,NaN,0.708
2,Leo Barnhorst,1950,6.537313,2.089552,NaN,NaN,NaN,0.349,0.349,0.349,NaN,0.698
3,Ed Bartels,1950,4.200000,1.333333,NaN,NaN,NaN,0.256,0.256,0.256,NaN,0.559
6,Ralph Beard,1950,14.916667,3.883333,NaN,NaN,NaN,0.363,0.363,0.363,NaN,0.762
...,...,...,...,...,...,...,...,...,...,...,...,...
27934,Dennis SchrÃ¶der,2022,15.426230,5.754098,3.459016,1.147541,0.213115,0.437,0.484,0.476,0.335,0.848
27947,Alen Smailagi?,2022,1.866667,0.266667,1.066667,0.200000,0.333333,0.407,0.481,0.412,0.400,0.333
27999,Jonas Valan?i?nas,2022,17.064516,1.806452,12.516129,0.564516,0.919355,0.592,0.606,0.611,0.368,0.773
28003,Anderson VarejÃ£o,2022,2.600000,0.600000,4.000000,0.000000,0.400000,0.250,0.250,0.267,0.000,0.556
28007,Nikola Vu?evi?,2022,23.414286,3.842857,11.671429,0.928571,0.685714,0.477,0.540,0.513,0.400,0.840

In [36]:
totals_df = df[['Player', 'Year', 'PTS', 'AST', 'TRB', 'STL', 'BLK', 'FG', 'FGA', 'MP', 'G', '3P', '3PA', '2P', '2PA']].copy()
totals_df

,Player,Year,PTS,AST,TRB,STL,BLK,FG,FGA,MP,G,3P,3PA,2P,2PA
0,Curly Armstrong,1950,458,176,NaN,NaN,NaN,144,516,NaN,63,NaN,NaN,144,516
1,Cliff Barker,1950,279,109,NaN,NaN,NaN,102,274,NaN,49,NaN,NaN,102,274
2,Leo Barnhorst,1950,438,140,NaN,NaN,NaN,174,499,NaN,67,NaN,NaN,174,499
3,Ed Bartels,1950,63,20,NaN,NaN,NaN,22,86,NaN,15,NaN,NaN,22,86
6,Ralph Beard,1950,895,233,NaN,NaN,NaN,340,936,NaN,60,NaN,NaN,340,936
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27934,Dennis SchrÃ¶der,2022,941,351,211.0,70.0,13.0,332,760,1956.0,61,71.0,212.0,261,548
27947,Alen Smailagi?,2022,28,4,16.0,3.0,5.0,11,27,84.0,15,4.0,10.0,7,17
27999,Jonas Valan?i?nas,2022,1058,112,776.0,35.0,57.0,440,743,1755.0,62,21.0,57.0,419,686
28003,Anderson VarejÃ£o,2022,13,3,20.0,0.0,2.0,4,16,36.0,5,0.0,1.0,4,15
28007,Nikola Vu?evi?,2022,1639,269,817.0,65.0,48.0,666,1396,2348.0,70,176.0,440.0,490,956

In [37]:
averages_df.to_csv("averages.csv", index = False)
totals_df.to_csv("totals.csv", index = False)

In [38]:
league_averages_df = df.groupby('Year')[['PPG', 'APG', 'RPG', 'SPG', 'BPG', 'FG%', 'eFG%', '2P%', '3P%', 'FT%']].mean().reset_index()

In [39]:
league_averages_df

,Year,PPG,APG,RPG,SPG,BPG,FG%,eFG%,2P%,3P%,FT%
0,1950,7.003657,1.756144,NaN,NaN,NaN,0.322709,0.322709,0.322709,NaN,0.689260
1,1951,6.260610,1.355234,3.945303,NaN,NaN,0.328903,0.328903,0.328903,NaN,0.693645
2,1952,4.535891,1.274634,3.278316,NaN,NaN,0.319100,0.319100,0.319100,NaN,0.618767
3,1953,4.941590,1.283884,2.936530,NaN,NaN,0.310029,0.310029,0.310029,NaN,0.675212
4,1954,4.687942,1.117907,2.923794,NaN,NaN,0.321529,0.321529,0.321529,NaN,0.654594
...,...,...,...,...,...,...,...,...,...,...,...
68,2018,6.121992,1.305330,2.765803,0.496095,0.289977,0.429834,0.490439,0.486237,0.302141,0.717043
69,2019,4.812664,1.052836,2.202277,0.413002,0.257773,0.402762,0.461267,0.465465,0.278695,0.669891
70,2020,4.928134,0.984410,2.176538,0.389382,0.238973,0.420624,0.473043,0.495853,0.268407,0.723854
71,2021,5.250642,1.164051,2.326002,0.425754,0.277385,0.414351,0.476957,0.482065,0.285516,0.743276
72,2022,10.072143,2.267150,4.496999,0.549852,0.334808,0.427259,0.490556,0.492154,0.306667,0.758154

In [40]:
league_averages_df.to_csv("league_averages.csv", index = False)

In [41]:
df['PPG'] = df['PTS'] / df['G']
df['RPG'] = df['TRB'] / df['G']
df['APG'] = df['AST'] / df['G']
df['SPG'] = df['STL'] / df['G']
df['BPG'] = df['BLK'] / df['G']
df['FTAPG'] = df['FTA'] / df['G']
all_player_stats_df = df[['Player', 'Year', 'PPG', 'APG', 'RPG', 'SPG', 'BPG', 'FG%', 'eFG%', '2P%', '3P%', 'FT%', 'PTS', 'AST', 'TRB', 'STL', 'BLK', 'FG', 'FGA', 'MP', 'G', '3P', '3PA', '2P', '2PA']].copy()

In [42]:
all_player_stats_df

,Player,Year,PPG,APG,RPG,SPG,BPG,FG%,eFG%,2P%,...,STL,BLK,FG,FGA,MP,G,3P,3PA,2P,2PA
0,Curly Armstrong,1950,7.269841,2.793651,NaN,NaN,NaN,0.279,0.279,0.279,...,NaN,NaN,144,516,NaN,63,NaN,NaN,144,516
1,Cliff Barker,1950,5.693878,2.224490,NaN,NaN,NaN,0.372,0.372,0.372,...,NaN,NaN,102,274,NaN,49,NaN,NaN,102,274
2,Leo Barnhorst,1950,6.537313,2.089552,NaN,NaN,NaN,0.349,0.349,0.349,...,NaN,NaN,174,499,NaN,67,NaN,NaN,174,499
3,Ed Bartels,1950,4.200000,1.333333,NaN,NaN,NaN,0.256,0.256,0.256,...,NaN,NaN,22,86,NaN,15,NaN,NaN,22,86
6,Ralph Beard,1950,14.916667,3.883333,NaN,NaN,NaN,0.363,0.363,0.363,...,NaN,NaN,340,936,NaN,60,NaN,NaN,340,936
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27934,Dennis SchrÃ¶der,2022,15.426230,5.754098,3.459016,1.147541,0.213115,0.437,0.484,0.476,...,70.0,13.0,332,760,1956.0,61,71.0,212.0,261,548
27947,Alen Smailagi?,2022,1.866667,0.266667,1.066667,0.200000,0.333333,0.407,0.481,0.412,...,3.0,5.0,11,27,84.0,15,4.0,10.0,7,17
27999,Jonas Valan?i?nas,2022,17.064516,1.806452,12.516129,0.564516,0.919355,0.592,0.606,0.611,...,35.0,57.0,440,743,1755.0,62,21.0,57.0,419,686
28003,Anderson VarejÃ£o,2022,2.600000,0.600000,4.000000,0.000000,0.400000,0.250,0.250,0.267,...,0.0,2.0,4,16,36.0,5,0.0,1.0,4,15
28007,Nikola Vu?evi?,2022,23.414286,3.842857,11.671429,0.928571,0.685714,0.477,0.540,0.513,...,65.0,48.0,666,1396,2348.0,70,176.0,440.0,490,956

In [43]:
all_player_stats_df.to_csv("all_player_stats.csv", index = False)